<div>
  <a href="#"><img src="http://placehold.it/30/000000/ffffff.png?text=H" alt="Home" width="30px" height="30px"></a>
  <a href="#"><img src="http://placehold.it/30/006600/ffffff.png?text=S" alt="Search" width="30px" height="30px"></a>
  <a href="#"><img src="http://placehold.it/30/4e69ed/ffffff.png?text=F" alt="Favorites" width="30px" height="30px"></a>
  <a href="#"><img src="http://placehold.it/30/ed4e4e/ffffff.png?text=O" alt="Settings" width="30px" height="30px"></a>
</div>
