---
title: Favorites - Events of Chicago (Prototype)
---

<div class="main">
  <div class="page">
    <h1>Favorites - Events of Chicago</h1>
    <p>Hello World!</p>
    <%= link_to "Home", "/" %><br/>
    <%= link_to "Favorites", "/favorites.html" %>
  </div><!-- .doc -->
</div><!-- .container -->
